[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FamAgg"]
	path = FamAgg
	url = https://github.com/euracbiomedicalresearch/famagg
